
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #efeff4;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 200;
  }

  body > * {
    width: 100%;
    padding: 0.25rem 0.5rem;
    background-color: white;
    margin: 0.25rem 0;
    border: 1px #c7c7c7;
    border-style: solid none;
  }

  * {
    box-sizing: border-box;
    font-weight: normal;
    margin:0;
  }